<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.2.22"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <a v-bind:href="url">link!</a>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide books</span> <span v-else>Show books</span>
      </button>
      <ul v-if="showBooks">
        <li v-for="b in books">
          <img :src="'assets/' + b.img" :alt="b.title">
          <h3>{{b.title}}</h3>
          <p>{{b.author}}</p>
        </li>
      </ul>
    </div>
    <script src="app.js"></script>
  </body>
</html>
